# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

/bin/
/pkg/

*.iso
*.img
**/*-state

linuxkit/UEFI.fd
linuxkit/hyperkit*
linuxkit/linuxkit*
linuxkit/vpnkit*
linuxkit/qcow-tool*

acceptance/bin/
acceptance/pkg/
acceptance/src/github.com/cloudfoundry/results/